[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mock = "*"
httmock = "*"
"flake8" = "*"
codecov = "*"

[packages]
celery = "==4.4.6"
kombu = "==4.6.11"
fusepy = "==3.0.1"
girder-client = "==2.4.0"
girder-worker = "==0.5.0"
redis = "==3.5.3"
pycurl = "*"
requests = "*"
girderfs = {git = "https://github.com/whole-tale/girderfs",ref = "v1.1rc1"}
pyOpenSSL = "*"
python-dateutil = "*"
PyYAML = "*"
markdown = "*"
lxml = "*"
"dataone.common" = "==3.4.7"
"dataone.libclient" = "==3.4.7"
"dataone.cli" = "==3.4.7"

[requires]
python_version = "3.8"
