celery==4.2.1
kombu==4.2.2post1
fusepy==3.0.1
girder-client==2.4.0
girder-worker==0.5.0
redis==2.10.6
pyOpenSSL==18.0.0
pycurl
requests
pyyaml
lxml
markdown
jwt==0.5.4
dataone.common==3.2.0
dataone.libclient==3.2.0
dataone.cli==3.2.0
git+https://github.com/whole-tale/girderfs@v0.9#egg=girderfs
