jsonpickle==1.5.2
celery==4.4.6
kombu==4.6.11
fusepy==3.0.1
girder-client==2.4.0
girder-worker==0.5.0
redis==3.5.3
pyOpenSSL
pycurl
requests
pyyaml
lxml
markdown
dataone.common==3.4.7
dataone.libclient==3.4.7
dataone.cli==3.4.7
git+https://github.com/whole-tale/girderfs@v1.0rc4#egg=girderfs
python-dateutil
