girder-client
girder-worker
kubernetes
docker>=2.3.0
packaging
pyOpenSSL
requests<2.32.0
markdown
pystache
pyyaml
lxml[html_clean]
celery[redis]
fusepy==3.0.1
git+https://github.com/whole-tale/girderfs@master#egg=girderfs
python-dateutil
